@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
}

/* Offline message styles */
#offline-message {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#offline-message.visible {
  opacity: 1;
}

/* Add PWA styles for iOS */
@media (display-mode: standalone) {
  body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior-y: none;
  }
}

code, pre, kbd, samp {
  font-family: var(--font-geist-mono);
}
